:root {
    background-color: #0C0C1C;
    overflow-y: hidden;
}

.preview-area {
    flex-flow: column;
}

.bg-object-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

.bg-scroll-1, .bg-scroll-2 {
    width: 100%;
    height: 128px;
    background-repeat: repeat-x;
    background-size: contain;
    animation: bgdetail-loop 60s linear infinite;
    /* filter: brightness(2); */
}

.bg-scroll-1 {
    background-image: url("../../img/characterSelect/afqm/BG_detail_1.png");
    animation-direction: reverse;
}

.bg-scroll-2 {
    background-image: url("../../img/characterSelect/afqm/BG_detail_2.png");
}

@keyframes bgdetail-loop {
    from {
        background-position: 0px;
    }
    
    to {
        background-position: 1024px;
    }
}

.css-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 50px;
    width: 100%;
	padding-top: 40px;
}

.css-row {
    gap: 20px;
}

.css-row a {
    transition: all 0.3s;
}

.css-row a:hover {
    transform: scale(1.15);
}