:root {
    background: linear-gradient(160deg, #061FA0, #5EE1FC);
}

body {
    height: fit-content;
    min-height: 100vh;
}

#characterselect {
    display: block;
}

.selectbox-container a {
    display: inline-block;
}

.charactericon, .charactericon img {
    width: 146px;
    height: 104px;
}

.selectbox-character-row {
    width: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    gap: 5px 3px;
    margin-bottom: 5px;
}