:root {
    height: 100vh;
    background-image: url("../../img/backgrounds/AoCF.png");
    background-size: 100% 100%;
}

body {
    font-family: "DF POP Corn W12";
    height: 100%;
}

.decor {
    position: absolute;
    z-index: 400;
}

#characterselect {
    position: relative;
    height: 100%;
    overflow: clip;
}

.preview-area {
    position: relative;
    height: 100%;
    display: block;
}

.portrait-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 18vw;
    height: 126vh;
    margin: auto;
    aspect-ratio: 1 / 1;
    transform: translate(-50%, 0);
}

.portrait-bg, .portrait-border {
    user-select: none;
}

.portrait-bg, .portrait-border {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    margin: auto;
    aspect-ratio: 1 / 1;
    animation: spin-anim 50s linear infinite;
}

.portrait-bg {
    opacity: 0.6;
}

.portrait-box {
    content: "";
    overflow: clip;
    clip-path: polygon(47.4% 0.9%, 50% 4.3%, 52.5% 0.9%, 57.6% 9.3%, 63.4% 16.7%, 65.7% 28.4%, 76% 26.9%, 92.5% 31.6%, 96% 32.5%, 93% 36%, 97.6% 37.1%, 92.2% 42.7%, 87% 51%, 78.6% 57%, 75.2% 57.9%, 80.1% 70%, 80.5% 79.5%, 80.1% 84.8%, 81.2% 88.1%, 76.8% 87.2%, 76.8% 91.3%, 69.8% 87.9%, 59.4% 85.2%, 51.2% 78.1%, 50% 76.2%, 43.4% 83.3%, 33.5% 87.6%, 25.5% 89.6%, 23.1% 91.2%, 22.9% 86.7%, 18.9% 88.3%, 20% 80.9%, 19.4% 70.4%, 22.7% 61.1%, 25.3% 57.9%, 17.1% 54.8%, 9% 45.9%, 4.9% 39.1%, 2.4% 37.2%, 6.8% 35.6%, 3.9% 32.3%, 11.4% 31.1%, 20.1% 27.3%, 30.8% 27.3%, 34.4% 28.7%, 35.7% 18.6%, 42.5% 8.2%, 46.4% 3.6%);
    height: inherit;
    aspect-ratio: 1 / 1;
    animation: spin-anim 50s linear infinite;
}

#info-portrait {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    aspect-ratio: 1 / 1;
    background-size: auto 90%;
    background-position: bottom;
    background-repeat: no-repeat;
    animation: spin-anim 50s linear infinite;
    animation-direction: reverse;
}

#info-portrait-select {
    position: absolute;
    left: 0;
    bottom: 0;
    visibility: hidden;
    transform-origin: bottom center;
    z-index: 300;
}

#info-name {
    position: absolute;
    top: 75vh;
    left: -28px;
    z-index: 440;
    pointer-events: none;
    transform: scale(0.8, 1);
    transform-origin: left;
    aspect-ratio: auto auto;
}

.selectbox-title, .fullroster-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.selectbox-title {
    top: -1vh;
    height: 11vh;
    z-index: 420;
}

.selectbox-fullroster {
    position: relative;
    height: calc(100vh - 200px);
    margin: auto;
    z-index: 420;
}

.fullroster-container {
    width: fit-content;
    height: fit-content;
    top: 11vh;
}

#select-cursor {
    height: 19%;
    position: absolute;
    pointer-events: none;
    z-index: 450;
    filter: contrast(1.1) brightness(1.5) opacity(0.7);
    animation: spin-anim 5s linear infinite;
    animation-direction: reverse;
    transition: all 0.3s cubic-bezier(0, 0.05, 0, 0.98);
}

@keyframes spin-anim {
    to {
        transform: rotate(360deg);
    }
}

.portrait-onselect {
    animation-name: onselect;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0s;
    animation-timing-function: linear;
}

@keyframes onselect {
    from {
        filter: brightness(2);
    }
    
    to {
        filter: brightness(1);
    }
}