html {
    height: 100vh;
}

body {
    font-family: "DF POP Corn W12";
    background-image: url("../../img/backgrounds/HakureiShrine.png");
    background-size: 100vw;
    height: 100%;
}

#characterselect {
    height: calc(100% - 56px);
    overflow: clip;
}

.preview-area {
    height: 100%;
    background-color: rgba(10, 10, 40, 0.7);
}

.portrait-area {
    max-height: 565px;
}

#info-name {
    font-size: 2.5em;
    filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black) drop-shadow(0 0 1px black) drop-shadow(0 0 8px #BE00EE);
}

#info-name::first-line {
    background: linear-gradient(to bottom, #FFFFC0 0%, #FFFFC0 50%, #FFFF06 60%, #EF6600 90%, #8E0900 100%);
    background-clip: text;
    color: transparent;
}

#info-name span {
    background: linear-gradient(to bottom, #FFFFC0 0%, #FFFFC0 50%, #FFFF06 60%, #EF6600 90%, #8E0900 100%);
    background-clip: text;
    color: transparent;
}

.selectbox-container {
    width: fit-content;
    max-height: 100%;
}

h1 {
    background: linear-gradient(to bottom, #FFFFC0 0%, #FFFFC0 50%, #FFFF06 60%, #EF6600 90%, #8E0900 100%);
    background-clip: text;
    color: transparent;
}

.selectbox-fullroster {
    margin: auto;
}

.portrait-onselect {
    animation-name: onselect;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0s;
    animation-timing-function: linear;
}

@keyframes onselect {
    from {
        filter: contrast(0) brightness(2);
    }
    
    to {
        filter: contrast(1) brightness(1);
    }
}