:root {
    background-image: url("../../img/backgrounds/AUAU.png");
    background-size: 100% 100%;
}

body {
    min-height: 100vh;
    aspect-ratio: 16 / 9;
	font-family: "VCR Mono";
}

.decor {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    opacity: 0.9;
}

.preview-area {
    display: grid;
    grid-template-columns: calc(529px * var(--element-scale)) calc(525px * var(--element-scale)) calc(529px * var(--element-scale));
    gap: calc(46px * var(--element-scale));
    margin: 0px calc(123px * var(--element-scale));
}

.portrait-area {
    display: flex;
    flex-flow: column;
    width: calc(529px * var(--element-scale));
    margin: 0px auto;
}

#info-portrait {
    width: calc(318px * var(--element-scale));
    margin: 0px auto;
}

#info-name {
    color: black;
    font-weight: normal;
    font-size: 3em;
}

.css-container {
    display: flex;
    flex-flow: column;
    width: calc(456px * var(--element-scale));
    margin: auto;
}

.css-container a {
	height: fit-content;
}

.css-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: calc(4px * var(--element-scale)) calc(28px * var(--element-scale));
    margin: calc(20px * var(--element-scale)) 0px;
}

.css-character img {
    display: block;
    width: calc(93px * var(--element-scale));
}

.icon-secret {
    opacity: 0;
}

.icon-secret:hover {
    opacity: 1;
}