body {
    height: 100vh;
    font-family: "Proba Pro";
}

#characterselect {
    height: calc(100vh - 32px);
    padding: 16px;
    display: block;
}

#info-name {
    text-align: left;
    font-family: "DBZ 0";
    font-size: 2.5em;
    transform: rotate(75deg) translate(57%, -340%);
    filter: drop-shadow(2px 2px black);
}

.selectbox-container, .selectbox-fullroster {
    max-width: 100%;
}

.selectbox-container {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
}

.selectbox-positioner {
    pointer-events: none;
    position: relative;
    width: 0px;
    height: 0px;
}

.selectbox-character img {
    transform-origin: center;
}

.portrait-area, .description-area {
    padding: 0px 60px;
}

.portrait-onhover {
    animation-name: portrait-onhover;
    animation-duration: 0.08s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes portrait-onhover {
    from {
        transform: translate(0,-20px);
        opacity: 0;
    }
    
    to {
        transform: translate(0,0);
        opacity: 1;
    }
}

.portrait-onselect {
    animation-name: portrait-onselect;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.55,.06,.68,.19);
}

@keyframes portrait-onselect {
    from {
        filter: saturate(2) brightness(2) drop-shadow(0px 0px 2px #FE5D00) drop-shadow(0px 0px 2px #FE5D00) drop-shadow(0px 0px 2px #FE5D00);
    }
    
    to {
        
    }
}