#characterselect {
    display: block;
}

.selectbox-container, .selectbox-fullroster {
    max-width: 100%;
}

.selectbox-positioner {
    pointer-events: none;
    position: relative;
    width: 0px;
    height: 0px;
}

.selectbox-character img {
    /* transition: transform 0.3s; */
    transform-origin: center;
}