:root {
    background-color: #FFEFEF;
}

.css-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3px;
    max-width: 861px;
    margin-top: 5vh;
}

.css-character {
    width: 141px;
    height: 351px;
}

.size-small {
    height: 174px;
}