#characterselect {
    display: block;
}

.selectbox-container, .selectbox-fullroster  {
    width: 660px;
    height: 177px;
}

.selectbox-positioner {
    pointer-events: none;
    position: relative;
    width: 0px;
    height: 0px;
}

.selectbox-character img {
    width: 74px;
    height: 49px;
    transform-origin: center;
}