.portrait-area {
    flex: 0px 1 0;
    overflow: visible;
}

.selectbox-container {
    left: 0px;
    right: 0px;
}

.selectbox-positioner {
    pointer-events: none;
    position: relative;
    width: 0px;
    height: 0px;
    z-index: 50;
}

.selectbox-fullroster-sizer {
    display: block;
}

#roster-clipper {
    position: absolute;
    overflow: clip;
    width: fit-content;
    height: fit-content;
    pointer-events: none;
}

.selectbox-fullroster {
    position: relative;
}

.name-onhover {
    animation-name: nameonhover;
    animation-duration: 0.08s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0s;
    animation-timing-function: linear;
}

@keyframes nameonhover {
    from {
        transform: rotate(-20deg) scale(1.1);
        opacity: 0.9;
    }
    
    to {
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }
}

.portrait-onhover {
    animation-name: portraitonhover;
    animation-duration: 0.08s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0s;
    animation-timing-function: linear;
}

@keyframes portraitonhover {
    from {
        transform: translate(-6px, -6px);
        opacity: 0.5;
    }
    
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.portrait-onselect {
    animation-name: portraitonselect;
    animation-duration: 0.1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-delay: 0s;
    animation-timing-function: linear;
}

@keyframes portraitonselect {
    from {
        filter: brightness(1);
    }
    
    to {
        filter: brightness(1.7);
    }
}