#characterselect {
    padding: 0px 40px;
}

.css-container {
    width: 100%;
    overflow: clip;
}

div.css-positioner {
    width: fit-content;
    height: fit-content;
    position: absolute;
}

.css-character {
    width: fit-content;
    height: fit-content;
}

.css-portrait {
    filter: grayscale(0.65) contrast(0.7) brightness(1.2) drop-shadow(0 0 2px rgb(36, 36, 36));
    width: 100%;
}

.css-fullroster {
    width: 100%;
    margin: auto;
}