:root {
    background-image: url("../../img/backgrounds/REX.png");
    background-size: 500px;
}

.preview-area {
    flex-flow: column wrap;
}

.selectbox-container {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
}

.selectbox-row {
    display: flex;
    flex-flow: row;
}

div.selectbox-positioner {
    width: 73px;
    height: 60px;
    transform-origin: 36.5px 40px;
}

.selectbox-icon {
    position: absolute;
    top: 1px;
    left: -3px;
    width: 78px;
    margin: 0px;
}

.selectbox-icon-details {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 73px;
}

.selectbox-icon-bg {
    content: url("../../img/characterSelect/rex/icon_BG.png");
}

.selectbox-icon-border {
    content: url("../../img/characterSelect/rex/icon_border.png");
}

.selectbox-fullroster {
    position: absolute;
    top: 0px;
}

#info-portrait {
    width: 260px;
}

.icon-onhover {
    animation-name: icon-onhover;
    animation-duration: 0.1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-delay: 0s;
    animation-timing-function: ease-out;
}

@keyframes icon-onhover {
    from {
        transform: scale(1);
        z-index: 500;
    }
    
    to {
        transform: scale(1.2);
        z-index: 500;
    }
}