:root {
    background-image: url("../../img/backgrounds/SF6.png");
    background-size: 100% 100%;
}

body {
    height: fit-content;
    min-height: 100vh;
}

#info-name {
	font-family: "City Brawlers";
    font-size: 6em;
    letter-spacing: 5px;
    text-align: left;
    padding-left: 1em;
    margin-top: 0.2em;
    filter: drop-shadow(6px 6px 3px rgba(161,7,56,0.9)) brightness(1.5);
}

.selectbox-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px 0px;
    width: 560px;
}

.flexbox-dummy {
    width: 140px;
    height: 90px;
}