:root {
    background-color: black;
}

body {
    font-family: "STD Heavy";
}

.game-logo {
    z-index: 98;
}

#characterselect {
    height: 100vh;
    aspect-ratio: 4 / 3;
    padding: 0px;
}

.preview-area {
    flex-direction: column;
    position: relative;
    overflow: clip;
    height: 100%
}

.portrait-area, .p2-area {
    height: 36.6666666666vh;
    background-repeat: repeat-x;
    background-size: 100%;
    z-index: 97;
    
    animation-name: portraitbg-loop;
    animation-duration: 21.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.portrait-area {
    background-image: url("../../img/characterSelect/soku/BG_P1.png");
    animation-direction: reverse;
}

.p2-area {
    background-image: url("../../img/characterSelect/soku/BG_P2.png");
}

@keyframes portraitbg-loop {
    from {
        background-position: 0px;
    }
    
    to {
        background-position: calc(36.6666666666vh / (11/40));
    }
}

#info-portrait {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 36.6666666666vh;
    display: block;
}

#info-name-area {
    padding-right: 10px;
}

#info-title {
    font-size: 1.8em;
    background: linear-gradient(to bottom, #FFFFFF, #FFFAB3);
    background-clip: text;
    color: transparent;
}

#info-name {
    font-size: 50px;
    transform: scale(0.8,1);
    transform-origin: right;
}

#info-title, #info-name {
    text-align: right;
    filter: drop-shadow(0px 0px 1px black) drop-shadow(0px 0px 1px black) drop-shadow(0px 0px 1px black);
}

.css-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0px;
}

#css-pointer, #css-needle {
    position: absolute;
    transition-property: inset, transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    pointer-events: none;
}

#css-pointer {
    position: absolute;
    z-index: 99;
    height: 10vh;
    background-image: url("../../img/characterSelect/soku/CSS_Cogwheel.png");
    background-repeat: no-repeat;
    background-size: 100%;
    top: -5vh;
}

#css-needle {
    z-index: 101;
    position: absolute;
    height: 10vh;
    top: -1.4583333333vh;
}

.css-character {
    z-index: 100;
    position: relative;
}

.css-character, .css-character img {
    height: 26.6666666666vh;
}

.portrait-onhover {
    animation-name: portrait-onhover;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0s;
    animation-timing-function: ease-out;
}

@keyframes portrait-onhover {
    from {
        transform: translate(-900px, 0);
    }
    
    to {
        transform: translate(0, 0);
    }
}

.name-onhover {
    animation-name: name-onhover;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0s;
    animation-timing-function: ease-out;
}

@keyframes name-onhover {
    from {
        transform: translate(240px, 0);
    }
    
    to {
        transform: translate(0, 0);
    }
}