.chrSelection {
    display: block;
}

.css-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0px;
    width: 936px;
}

.css-container a, .css-character, .css-character img {
    width: 72px;
    height: 41px;
}