.chrSelection {
    display: block;
}

.selectbox-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0px;
    width: fit-content;
    /*border: 3px solid black;*/
}

.selectbox-character, .selectbox-character img {
    /*height: 63px;*/
}

.selectbox-character img {
    display: block;
}