:root {
    background-image: url("../../img/backgrounds/UFDK2.png");
    background-size: cover;
}

body {
    background-color: transparent;
}

#characterselect {
    padding: 28px;
}

.css-character img {
    display: block;
    width: 84px;
}

.chrSelection {
    display: block;
}

.css-container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: calc(84px * 6);
    padding: 20px;
}

#select-cursor {
    position: absolute;
    width: 90px;
    pointer-events: none;
}

.description-bg .description-area {
    background-image: linear-gradient(to bottom, #131317, #0012FC);
    border: 4px solid white;
}

#returnbutton, .color-button, .description-exit {
    background: transparent;
    color: white;
    border: 0px solid transparent;
}

.description-exit {
    padding: 4px 4em;
}

.color-button {
    padding: 4px 12px;
}

#returnbutton {
    padding: 4px 8px 4px 5em;
}

.color-button:hover, .description-exit:hover {
    background-color: rgba(255,0,0,0.9);
}

#returnbutton:hover {
    background: linear-gradient(to left, rgba(255,0,0,0.9) 0%, rgba(255,0,0,0.9) 70%, rgba(255,0,0,0.1) 100%);
}